
@media(max-width:820px){
    .menu-bar nav
        {
         display: none;
        }
    }
    
    body{
        display: flex;
        display: inline-block;
    }

    .margin{
        display: flex;
        display: inline-block;
        margin-left: 15%;
    }

