<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/style.css">
    <link rel="stylesheet" href="../styles/sidebar.css">
    <link rel="stylesheet" href="../styles/login.css">
    <link rel="stylesheet" href="../styles/reset.css">
    <link rel="stylesheet" href="../styles/header.css">
    <link rel="stylesheet" href="../styles/footer.css">
    <link rel="stylesheet" href="../styles/main.css">
    <script src="../javascript/login.js"></script>
    <link rel="icon" href="../img/usuario.png">
    <title>Login Trackgenix SA</title>
</head>
<body>
    <header>
        <div class="conteiner-logo">
            <div class="menu-logo">
                <img src="../img/choose.png" alt="Logo-Hambur">
            </div>
        </div>
        <p id="top">Trackgenix S.A</p>   
    </header>
    <section>
        <div class="menu-bar">
            <nav>
                <img class="rr-logo" src="../img/rr-logo.png" alt="radium-logo">
                <ul>
                    <li> <a href="../views/index.html">Home</a></li>
                    <li><a href="../views/sign-up.html">Sign Up</a></li>
                    <li><a href="../views/login.html">Login</a></li>
                    <li><a href=".#Contact">Contact</a></li>
                </ul>
            </nav>
        </div>
    </section>
    <div class="container">
        <div class="container-form">
            <img class="img-usu" src="../img/usuario.png" alt="img-usuario">
            <h2>Iniciar Sesion</h2>
            <form action="">
                <input id="email" type="text" value="Email" onfocus="vaciar(this)" onblur="verificarEntrada(this)">
                <input id="Contraseña" type="password" value="Contraseña" onfocus="vaciar(this)" onblur="verificarEntrada(this)">
                <input class="check" type="checkbox" id="check">
                <label for="check">Recuerdame</label>
                <input class="boton" type="submit" value="Iniciar Sesion">
            </form>
        </div>
    </div>
    <footer class="line-1">
        <div class="logos">
            <a href="https://twitter.com/radiumrocket">
                <img src="../img/twt.jpg" alt="Twitter-Logo">
            </a>
            <a href="https://github.com/radiumrocketapps">
                <img src="../img/git-hub.jpg" alt="GitHub-Logo">
            </a>
            <a href="https://www.facebook.com/radiumrocket">
                <img src="../img/fcb.jpg" alt="Facebook-Logo">
            </a>
            <a href="https://www.linkedin.com/company/radium-rocket/">
                <img src="../img/in.jpg" alt="Linkedin-Logo">                        
            </a>
            <a href="https://www.instagram.com/radium.rocket/">
                <img src="../img/insta.jpg" alt="Instagram-Logo">
            </a>
        </div>
        <div class="copy">
            <p>
                Copyright &copy; 2022 Trackgenix S.A All rights
            </p>
        </div>
    </footer>

</body>
</html>