body{
    margin: 0;
}

.margin{
    margin-left: 200px;
}

.header{
    width: 1295px;
    height: 90px;
    overflow: hidden;
    background-color: #46A37C;
    margin-left: 130px;
    position: absolute;
} 

#top{
    color: #373867;
    padding-left: 70px;
    font-family: "Roboto", sans-serif;
    font-size: 29px;
    padding-bottom: 14px;
    font-weight: bold;
}

.square{
    background-color: #c4c4c4;
    width: 130px;
    height: 90px;
}

#rr-logo{
    width: 90px;
    height: 90px;
    padding-left: 20px;
}

.complete-bar{
    position: absolute;
    width: 130px;
    height: 4100px;
    background-color: #373867;
}

.menu-bar{
    position: fixed;
    width: 130px;
    height: 100%;
    background-color: #373867;

}


.menu-bar ul{
    list-style: none;
    padding-left: 35px;
    font-family: "Roboto", sans-serif;
}

.menu-bar li{
    padding-bottom: 15px;
}

.menu-bar a{
    text-decoration: none;
    color: aliceblue;
    font-size: 18px;
}

.wat{
    font-family: "Roboto", sans-serif;
    display: inline-block;
    width: 700px;
}

.wat h1{
    font-size: 50px;
    position: relative;
    left: 80px;
    color: #373867;
}

.wat h6{
    color: #c4c4c4;
    font-family: "Roboto", sans-serif;
    left: 80px;
    position: relative;
}

.paragraph{
    width: 400px;
    margin-left: 80px;
    color: #373867;
}

.deskt-img{
    position: relative;
    display: inline-block;
    left: 650px;
    bottom: 290px;
}

.quadrate{
    width: 400px;
    height: 200px;
    background-color: aliceblue;
    display: inline-block;
    margin-right: 100px;
    margin-bottom: 50px;
    margin-left: 90px;
    border-radius: 5px;
    font-family: "Roboto", sans-serif;
    box-shadow: 5px 5px 7px;
}

.quadrate h2{
    text-align: center;
    color: #46A37C;
}

.quadrate p{
    text-align: center;
    font-size: 15px;
    color: #373867;
}

.circle{
    display: inline-block;
    border: black;
    background-color: #ffffff;
    border-radius: 100%;
    box-shadow: 5px 5px 5px;
    margin-left: 150px;
    margin-right: 100px;
    margin-top: 90px;
    height: 290px;
    width: 290px;
    margin-bottom: 50px;
}

.circle img{
    width: 180px;
    padding-left: 50px;
    padding-top: 10px;

}

.circle h2{
    font-size: 12px;
    text-align: center;
    padding-top: 10px;
}

.circle p{
    font-size: 12px;
    text-align: center;
    padding-top: 55px;
}

.contact{
    font-family: "Roboto", sans-serif;
    color: #373867;
    margin-left: 40px;

}

.contact label{
    display: block;
    padding-left: 5px;
    padding-bottom: 4px;
    padding-top: 10px;
    color: #373867;
}

.contact input{
    width: 600px;
    border-radius: 4px;
    color: #373867;
    height: 30px;
}

.contact select{
    width: 608px;
    border-radius: 4px;
    color: #373867;
    height: 35px;
}

.contact textarea{
    width: 600px;
    border-radius: 4px;
    color: #373867;
    margin-bottom: 15px;
}

.contact button{
    margin-bottom: 20px;
    background-color: #ffffff;
    width: 130px;
    height: 40px;
    border-radius: 4px;
}

.contact button:hover{
    background-color: #AACE9B;
}

.line-1{
    background-color: black;
    width: 1100px;
    height: 2px;
    margin-bottom: 50px;
    margin-top: -250px;
    margin-left: 30px;
}

.line-2{
    background-color: black;
    width: 1100px;
    height: 2px;
    margin-bottom: 50px;
    margin-top: 0px;
    margin-left: 30px;
}